@model AM.ApplicationCore.Domain.Flight

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <dl>nombre de passagers</dl>
    <dl>@Model.Passengers.Count()</dl>
    <dl>Capacity avion</dl>
    <dl>@Model.Plane.Capacity.</dl>
    <dl>type avion</dl>
    <dl>@Model.Plane.PlaneType</dl>
    
</div>
